.container {
    width: 100%;
    height: 100%;
    margin: auto;
    /* display: grid;
    grid-template-columns: repeat(auto, 3fr);
    grid-template-rows: repeat(auto, 3fr);
    gap: 10px; */
}

.main {
    width: 900px;
    height: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.square {

    background-color: rgb(red, green, blue);
    border: 3px solid black;
}

.sign {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.sign::before {
    content: '';
    width: 180px;
    height: 5px;
    background-color: black;
    position: absolute;
    top:50%;
    left:50%;
    transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);;
}

.sign::after {
    content: '';
    width: 180px;
    height: 5px;
    background-color: black;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(135deg);
}

.circle {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.circle::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 50%;
    transform: translate(50%, 50%);
}